.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: #4056a1;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  color: #FFFFFF;
  margin-top: 78px;
}

.header img {
  width: 150px;
  height: auto;
}

.header h2 {
  margin: 0;
}