#scroll-up {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  font-size: 50px;
  color:  #4056a1;
  margin-bottom: 30px;
  bottom: 0;
  z-index: 2;
}

#scroll-up-arrow {
  display: none;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 7px;
}

.scroll-label {
  font-size: 16px;
}

